.slider-container {
    overflow: hidden;
    &-medium {
        grid-column: 1 / 7;
    }
    &-large {
        grid-column: 1 / 9;
    }
}

.slider {
    height: 100%;
}

.slide-list-item {
    height: 100%;
    list-style: none;
    transition: all 350ms;
}

.slide-image {
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}